/config/database.local.php
/config/payment.local.php
/public/uploads/events/*
!/public/uploads/events/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
.env
.env.*
!.env.example
/.vercel/
